nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 2rem;
  height: 4rem;
  width: 60%;
  caret-color: transparent;
  margin-top: 2rem;
}

nav > * {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(#fbf7f7 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}

nav > *:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}
